
<table class="table table-bordered border-primary ">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Nombre Apellido Cedula</th>
            <th>Administrador</th>
            <th>Activos</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let usuario of usuariosAct">
            <td>{{usuario.usuId}}</td>
            <td>{{usuario.usuNombreUsuario}}</td>
            <td>{{usuario.usuContraUsuario}}</td>
            <td>{{usuario.usuRol}} <button (click)="HabiDesUsuario(usuario)" class=" btn btn-warning">Conceder/Retirar</button></td>
            
            <td>
                <button (click)="desactivarUsuario(usuario)" class=" btn btn-warning">Suspender</button>
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered border-primary">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Nombre Apellido Cedula</th>
            <th>Administrador</th>
            <th>Suspendidos</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let usuario of usuariosInc">
            <td>{{usuario.usuId}}</td>
            <td>{{usuario.usuNombreUsuario}}</td>
            <td>{{usuario.usuContraUsuario}}</td>
            <td>{{usuario.usuRol}} <button (click)="HabiDesUsuario(usuario)" class=" btn btn-warning">Conceder/Retirar</button></td>
            
            <td>
                <button (click)="activarUsuario(usuario)" class="btn btn-success">Reactivar</button>
            </td>
        </tr>
    </tbody>
</table>