<div class="jumbotron">
    <div class="container text-center">
      <h1>Publicaciones</h1>      
    </div>
  </div>
  
  <body>

    <div class="container">

        <h1 data-text="Productos "></h1>
        <section class="layout">
            <ng-container *ngFor="let publicacion of publicaciones">
                <div *ngIf="publicacion.pubTipo=='Venta'">

                    <div class="card">
                        <ng-container *ngFor="let fileModel of fileModels">
                            <div class="card-img" *ngIf="fileModel.name==publicacion.pubIdProducto.fileName">
                                <img [src]="fileModel.url" class="img2">
                            </div>
                        </ng-container>
                        <div class="card-info">
                            <p class="text-title">{{publicacion.pubIdProducto.prodNombre}}</p>
                            <p class="text-body">{{publicacion.pubDescripcion}}</p>
                        </div>
                        <div class="card-footer">
                            <span class="text-title2">Precio: {{publicacion.pubIdProducto.prodPrecio}}</span>
                        
                        </div>
                    </div>

                </div>
            </ng-container>

        </section>
    </div>

</body>
<app-footer></app-footer>







