body {
  height: auto;
  background: #fff;
}

html {
  height: auto;

}

.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 60px;
  margin-bottom: 60px;

}

img.card-img-top {

  width: 65%;
}

p.card-text {
  margin-right: 150px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  text-align: justify;

}

.container {
  width: 350px;
  height: 500px;
  background: transparent;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
  overflow: hidden;
  border-radius: 10px;
}

.card {
  cursor: default;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #212121;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  transition: all ease .3s;
}

.container::after,
.container::before {
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  border-radius: 50%;
  transition: .5s linear;
}

.container::after {
  top: -20px;
  left: -20px;
  background-color: #000000;
  animation: animFirst 5s linear infinite;
}

.container::before {
  background-color: #000000;
  top: 85%;
  left: 80%;
  animation: animSecond 5s linear infinite;
  animation-delay: 3s;
}

.container:hover {
  box-shadow: 0px 0px 10px #71b7e6
}

.container:hover::after {
  left: 80px;
  transform: scale(1.2);
}

.container:hover::before {
  left: -10px;
  transform: scale(1.2);
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


p.card-title {

  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;

}