<app-headers></app-headers>

<html>

<body>

    <section class="layout">
        <div class="izq">

            <div class="card">

                <img src="assets/img/vodka.png" alt="">
            </div>\

        </div>
        <div class="der">
            <section class="layout2">
                <div class="Titulo">

                    <p class="text-title">VODKA ABSOLUTE</p>

                    <p class="text-body">Atrevido, original, creativo. Absolut Vodka se presentó por primera vez en
                        Nueva York en 1979. Nuestra botella transparente sin etiqueta, inspirada en los envases de
                        medicamentos del siglo XVIII, destacó entre las botellas altas y ostentosas de la competencia.
                        Después de todo, estábamos en Nueva York y eran los años setenta. Para distinguirte de los
                        demás, tenías que ser diferente.</p>

                        <p class="text-body">$19,80</p>

                </div>
                <div>
                    <div class="boton">
    
                        <button class="comprar">
                            <span>COMPRAR</span>
                        </button>
                    </div>
    
                </div>

            </section>

        </div>
    </section>

</body>

<app-footer></app-footer>

</html>