<app-headers></app-headers>

<html>

<body>


  <div *ngIf="publicacion">
    <section class="layout">
      <div class="izq">
        <div class="card">
          <img [src]="imageSrc" class="card-img-top" width="30px" alt="...">
        </div>
      </div>
      <div class="der">
        <div class="card-body">
          <p class="card-title">{{publicacion.pubIdProducto.prodNombre}}</p>
          <p class="card-text"><b>Descripción: </b>{{publicacion.pubDescripcion}}</p>
          <p class="card-text"><b>Precio:</b> {{publicacion.pubIdProducto.prodPrecio}}$</p>
          <button role="button" class="button-name">Comprar Producto</button>

        </div>
      </div>
    </section>
  </div>
</body>
<app-footer></app-footer>

</html>