<app-headers></app-headers>

<section class="layout">
    <div class="izq">

        <div class="card">

            <img src="assets/img/vodka.png" alt="">
        </div>
    </div>
    <div class="der">
        <section class="layout2">
            <div class="Titulo">

                <p class="text-title">VODKA ABSOLUTE</p>

            </div>
            <div>

                <p class="text-body">Es el vodka tradicional de la compañía, lanzado en 1979, sus ingredientes
                    principales son agua y trigo de invierno. El agua proviene </p>

            </div>
        </section>

        <section class="layout3">
            <div class="boton">

                <button class="comprar">
                    <span>COMPRAR</span>
                  </button>
            </div>
        </section>


    </div>
</section>


<app-footer></app-footer>