footer{
    border-top: 1px solid green;
}

.caja{
    left: 18%;

}


.subTitu{
    color: #D5DBDB;
}

.subtext{
    color: #979A9A  ;
    font-family:  monospace;
    
}

.textoIntro{
    color: #D5D8DC  ;
    margin-top: 20px;
    text-align: center;
  
}
.icono{
    display: inline-block;
    width: 30px;
    height: 30px;
    

}

.icono img{

    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.card-title{
display: inline-block;
}