
<section class="home">

<nav class="nav">
    <div class="container">
        <div class="logo">
            <img src="assets/img/lot-removebg-preview.png" width="60px">
            <button routerLink="/principal" routerLink="/principal">TRUEKSHOP</button>

        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <button routerLink="/trueque">Trueque</button>
                <button routerLink="/verproducto">Venta</button>
                <button routerLink="/producto">Productos</button>
                <button routerLink="/registrar">Perfil</button>
            </ul>
        </div>

        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

</section>
<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>
