<!DOCTYPE html>
<html lang="en">

<app-headers></app-headers>

<div class="box">

    <div class="content">

        <img src="assets/img/baner3.jpg" width="100%" height="100%" alt="Italy / Urban / Street / City">

        <div class="text3">"El futuro no es</div>
        <div class="text4">desechable"</div>

    </div>
</div>

<body>

    <div class="container">


        <section class="layout2">
            <div>
                <h1 data-text="Productos de Venta"></h1>
            </div>
            <div>

                <div class="input-box">
                    <select name="miselect" [(ngModel)]="seleccionados" required (change)="cargarPublicaciones()" >
                        <!-- <option *ngFor="let categoria of categorias" [ngValue]="categoria" >{{categoria.catNombre}}</option> -->
                        <option  *ngFor="let categoria of categorias" [ngValue]="categoria" [selected]="categoria.catNombre === 'Hogar'" >
                            {{categoria.catNombre}}
                          </option>
                    </select>
                    <span> Filtro</span>
                </div>
            </div>
          </section>

        <section class="layout">
            <ng-container *ngFor="let publicacion of publicaciones">
                <div *ngIf="publicacion.pubTipo=='Venta'">
                    <!-- 
                    <div class="card">
                        <ng-container *ngFor="let fileModel of fileModels">
                            <div class="card-img" *ngIf="fileModel.name==publicacion.pubIdProducto.fileName">
                                <img [src]="fileModel.url" class="img2">
                            </div>
                        </ng-container>
                        <div class="card-info">
                            <p class="text-title">{{publicacion.pubIdProducto.prodNombre}}</p>
                            <p class="text-body">{{publicacion.pubDescripcion}}</p>
                        </div>
                        <div class="card-footer">
                            <span class="text-title">{{publicacion.pubIdProducto.prodPrecio}}</span>
                            <div class="card-button">
                                <button type="button" name="button" (click)="verProducto(publicacion.pubId)" >Ver Producto</button>

                                <svg style="display: block; height: 0; width: 0;" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                        <filter id="goo">
                                            <feGaussianBlur result="blur" stdDeviation="10" in="SourceGraphic">
                                            </feGaussianBlur>
                                            <feColorMatrix result="goo"
                                                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix"
                                                in="blur"></feColorMatrix>
                                            <feBlend in2="goo" in="SourceGraphic"></feBlend>
                                        </filter>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                    </div>
                 -->

                    <div class="card">
                        <ng-container *ngFor="let fileModel of fileModels">
                            <div class="card-img" *ngIf="fileModel.name==publicacion.pubIdProducto.fileName">
                                <img [src]="fileModel.url" class="img2">
                            </div>
                        </ng-container>
                        <div class="card-info">
                            <p class="text-title">{{publicacion.pubIdProducto.prodNombre}}</p>
                            <p class="text-body">{{publicacion.pubDescripcion}}</p>
                        </div>
                        <div class="card-footer">
                            <span class="text-title2">Precio: {{publicacion.pubIdProducto.prodPrecio}}</span>
                            <div class="card-button">
                                <button (click)="verProducto(publicacion.pubId)">
                                    <img src="assets/img/comprar.png" width="24">
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-container>

        </section>
    </div>

</body>
<app-footer></app-footer>

</html>
