<html lang="en" dir="ltr">
<header>
  <!-- <nav>
    <div class="navbar-left">
      <a href="#"><img
          src="/assets/img/lot-removebg-preview.png"
          alt="Logo" class="logo">TRUEKSHOP</a>
      <a class="btn-neon5" href="#">
        <span id="spain1"></span>
        <span id="spain2"></span>
        <span id="spain3"></span>
        <span id="spain4"></span>
        Trueque</a>
      <a class="btn-neon5" href="#"> <span id="spain1"></span>
        <span id="spain2"></span>
        <span id="spain3"></span>
        <span id="spain4"></span>Compra</a>
    </div>
    <div class="navbar-right">
      <a class="btn-neon5" href="#" routerLink="/clientes"> <span id="spain1"></span>
        <span id="spain2"></span>
        <span id="spain3"></span>
        <span id="spain4"></span>Vende</a>
      <a class="btn-neon5" href="#"> <span id="spain1"></span>
        <span id="spain2"></span>
        <span id="spain3"></span>
        <span id="spain4"></span>Carrito</a>
      <a class="btn-neon5" href="#"> <span id="spain1"></span>
        <span id="spain2"></span>
        <span id="spain3"></span>
        <span id="spain4"></span>Usuario</a>
        <img src="/assets/img/menu-desplegable.png" alt="menu" class="menu">
    </div>
  </nav> -->\

  <nav class="nav">

    <div class="nav_container">

      <h1 class="nav_logo">MenuTFC</h1>
      <div class="Botones menu">
      <a href="" class="btn-neon6">
        <span id="spain1"></span>
        <span id="spain2"></span>
        <span id="spain3"></span>
        <span id="spain4"></span>
        EDITAR</a>
        <a href="" class="btn-neon6">
          <span id="spain1"></span>
          <span id="spain2"></span>
          <span id="spain3"></span>
          <span id="spain4"></span>
          EDITAR</a>

          <a href="" class="btn-neon6">
            <span id="spain1"></span>
            <span id="spain2"></span>
            <span id="spain3"></span>
            <span id="spain4"></span>
            EDITAR</a>
            </div>


      <label for="menu" class="nav_label"> <img src="assets/menu.svg" alt="nav_img"></label>
      <input type="checkbox" id="menu" class="nav__input">

      
      <div class="nav_menu">
      <a href="#" class="nav-item">Inicio</a>
      <a href="#" class="nav-item">Perfil</a>
      <a href="#" class="nav-item">Compras</a>

    </div>
    </div>
  </nav>
</header>
<div class="containerNB body" #container>


  <head>

    <meta charset="UTF-8">
    <title FORMULARIO DE REGISTRO></title>
    <link rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scalet=1.0">
  </head>

  <body>


    <div class="container">
      <form action="#">
        <h6 class="text"> REGISTRO DE Productos</h6>

        <div class="user-details">
          <div class="input-box">
            <span class="details">NOMBRE: </span>
            <input type="text" placeholder="Ingresa el nombre del Producto" required>
          </div>
          <div class="input-box">
            <span class="details">DESCRIPCION: </span>
            <textarea cols="51" rows="5" placeholder="Ingresa la descripcion"></textarea>
          </div>
          <div class="input-box">
            <span class="details">CANTIDAD: </span>
            <input type="number" placeholder="Ingresa el nombre del Producto" required>
          </div>
          <div class="input-box">
            <span class="details">TIPO DE COMERCIO: </span>
            <input type="radio" name="" id="">
          </div>

          <div class="BOTONC">
            <a href="" class="btn-neon">
              <span id="spain1"></span>
              <span id="spain2"></span>
              <span id="spain3"></span>
              <span id="spain4"></span>
              EDITAR</a>

            <a href="" class="btn-neon2">
              <span id="spain1"></span>
              <span id="spain2"></span>
              <span id="spain3"></span>
              <span id="spain4"></span>
              ELIMINAR</a>

            <a href="" class="btn-neon3">
              <span id="spain1"></span>
              <span id="spain2"></span>
              <span id="spain3"></span>
              <span id="spain4"></span>
              AGREGAR</a>
          </div>
        </div>
      </form>
    </div>
  </body>

</div>

</html>