
<div class="banner">
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <img src="assets/img/lot-removebg-preview.png" width="60px">
                <button routerLink="/principal" routerLink="/principal">TRUEKSHOP</button>
    
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <button routerLink="/principal">Trueque</button>
                    <button routerLink="/principal">Venta</button>
                    <button routerLink="/producto">Productos</button>
                    <button routerLink="/registrar">Perfil</button>
                </ul>
            </div>
    
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
    
    <script>
        $(window).scroll(function () {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
</div>
<div>

    <div class="box">

        <div class="content">

            <img src="assets/img/baner3.jpg" width="100%" height="100%" alt="Italy / Urban / Street / City">

            <div class="text3">"El futuro no es</div>
            <div class="text4">desechable"</div>

        </div>
    </div>
</div>

<body>

    <div class="container">

        <h1 data-text="Productos "></h1>
        <section class="layout">
            <div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/vodka.png" class="img2">
                    </div>
                    <div class="card-info">
                        <p class="text-title">VODKA ABSOLUTE</p>
                        <p class="text-body">Es el vodka tradicional de la compañía, lanzado en 1979, sus ingredientes
                            principales son agua y trigo de invierno. El agua proviene </p>
                    </div>
                    <div class="card-footer">
                        <span class="text-title">$19.50</span>
                        <div class="card-button">
                            <button class="c-button c-button--gooey"> Ver Producto
                                <div class="c-button__blobs">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </button>
                            <svg style="display: block; height: 0; width: 0;" version="1.1"
                                xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <filter id="goo">
                                        <feGaussianBlur result="blur" stdDeviation="10" in="SourceGraphic">
                                        </feGaussianBlur>
                                        <feColorMatrix result="goo"
                                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix"
                                            in="blur"></feColorMatrix>
                                        <feBlend in2="goo" in="SourceGraphic"></feBlend>
                                    </filter>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div>

                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/vodka.png" class="img2">
                    </div>
                    <div class="card-info">
                        <p class="text-title">VODKA ABSOLUTE</p>
                        <p class="text-body">Es el vodka tradicional de la compañía, lanzado en 1979, sus ingredientes
                            principales son agua y trigo de invierno. El agua proviene </p>
                    </div>
                    <div class="card-footer">
                        <span class="text-title">$19.50</span>
                        <div class="card-button">
                            <button class="c-button c-button--gooey"> Ver Producto
                                <div class="c-button__blobs">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </button>
                            <svg style="display: block; height: 0; width: 0;" version="1.1"
                                xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <filter id="goo">
                                        <feGaussianBlur result="blur" stdDeviation="10" in="SourceGraphic">
                                        </feGaussianBlur>
                                        <feColorMatrix result="goo"
                                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix"
                                            in="blur"></feColorMatrix>
                                        <feBlend in2="goo" in="SourceGraphic"></feBlend>
                                    </filter>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div>

                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/vodka.png" class="img2">
                    </div>
                    <div class="card-info">
                        <p class="text-title">VODKA ABSOLUTE</p>
                        <p class="text-body">Es el vodka tradicional de la compañía, lanzado en 1979, sus ingredientes
                            principales son agua y trigo de invierno. El agua proviene </p>
                    </div>
                    <div class="card-footer">
                        <span class="text-title">$19.50</span>
                        <div class="card-button">
                            <button class="c-button c-button--gooey"> Ver Producto
                                <div class="c-button__blobs">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </button>
                            <svg style="display: block; height: 0; width: 0;" version="1.1"
                                xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <filter id="goo">
                                        <feGaussianBlur result="blur" stdDeviation="10" in="SourceGraphic">
                                        </feGaussianBlur>
                                        <feColorMatrix result="goo"
                                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix"
                                            in="blur"></feColorMatrix>
                                        <feBlend in2="goo" in="SourceGraphic"></feBlend>
                                    </filter>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="layout">
            <div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/vodka.png" class="img2">
                    </div>
                    <div class="card-info">
                        <p class="text-title">VODKA ABSOLUTE</p>
                        <p class="text-body">Es el vodka tradicional de la compañía, lanzado en 1979, sus ingredientes
                            principales son agua y trigo de invierno. El agua proviene </p>
                    </div>
                    <div class="card-footer">
                        <span class="text-title">$19.50</span>
                        <div class="card-button">
                            <button class="c-button c-button--gooey"> Ver Producto
                                <div class="c-button__blobs">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </button>
                            <svg style="display: block; height: 0; width: 0;" version="1.1"
                                xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <filter id="goo">
                                        <feGaussianBlur result="blur" stdDeviation="10" in="SourceGraphic">
                                        </feGaussianBlur>
                                        <feColorMatrix result="goo"
                                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix"
                                            in="blur"></feColorMatrix>
                                        <feBlend in2="goo" in="SourceGraphic"></feBlend>
                                    </filter>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/vodka.png" class="img2">
                    </div>
                    <div class="card-info">
                        <p class="text-title">VODKA ABSOLUTE</p>
                        <p class="text-body">Es el vodka tradicional de la compañía, lanzado en 1979, sus ingredientes
                            principales son agua y trigo de invierno. El agua proviene </p>
                    </div>
                    <div class="card-footer">
                        <span class="text-title">$19.50</span>
                        <div class="card-button">
                            <button class="c-button c-button--gooey"> Ver Producto
                                <div class="c-button__blobs">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </button>
                            <svg style="display: block; height: 0; width: 0;" version="1.1"
                                xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <filter id="goo">
                                        <feGaussianBlur result="blur" stdDeviation="10" in="SourceGraphic">
                                        </feGaussianBlur>
                                        <feColorMatrix result="goo"
                                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix"
                                            in="blur"></feColorMatrix>
                                        <feBlend in2="goo" in="SourceGraphic"></feBlend>
                                    </filter>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/vodka.png" class="img2">
                    </div>
                    <div class="card-info">
                        <p class="text-title">VODKA ABSOLUTE</p>
                        <p class="text-body">Es el vodka tradicional de la compañía, lanzado en 1979, sus ingredientes
                            principales son agua y trigo de invierno. El agua proviene </p>
                    </div>
                    <div class="card-footer">
                        <span class="text-title">$19.50</span>
                        <div class="card-button">
                            <button class="c-button c-button--gooey"> Ver Producto
                                <div class="c-button__blobs">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </button>
                            <svg style="display: block; height: 0; width: 0;" version="1.1"
                                xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <filter id="goo">
                                        <feGaussianBlur result="blur" stdDeviation="10" in="SourceGraphic">
                                        </feGaussianBlur>
                                        <feColorMatrix result="goo"
                                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix"
                                            in="blur"></feColorMatrix>
                                        <feBlend in2="goo" in="SourceGraphic"></feBlend>
                                    </filter>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <app-footer></app-footer>
</body>
