<app-headers></app-headers>

<html>
    <body>

<section class="layout">
    <div class="izq">

        <div class="card">

            <img src="assets/img/vodka.png" alt="">
        </div>
    </div>
    <div class="der">
        <section class="layout2">
            <div class="Titulo">

                <p class="text-title">VODKA ABSOLUTE</p>

                    <p class="text-body">Es el vodka tradicional de la compañía, lanzado en 1979, sus ingredientes
                        principales son agua y trigo de invierno. El agua proviene </p>

            </div>

        </section>

        <section class="layout3">

            <section class="layout">
                <div>
                    <div class="boton">

                        <button class="comprar">
                            <span>COMPRAR</span>
                          </button>
                    </div>

                </div>
                <div>

                    <div class="boton">

                        <button id="2" class="whatsapp" (click)="mostrarnumero()"> <img class="2" src="assets/img/whatsapp.png" height ="30" width="20" />
                            <span>CONTACTO</span>
                          </button>
                    </div>
                </div>
              </section>

        </section>


    </div>
</section>

</body>

<app-footer></app-footer>
</html>