<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<app-headers>
</app-headers>
<div>
</div>
<body>
    <div class="container">
        <h1>DATOS PERSONALES</h1>
        <div class="content">
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nombre</span>
                        <input type="text" placeholder="Enter your name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Apellido</span>
                        <input type="text" placeholder="Enter your username" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Cedula</span>
                        <input type="text" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Direccion</span>
                        <input type="text" placeholder="Enter your number" required>
                    </div>
                    <div class="input-box">
                        <input type="radio" name="gender" id="dot-1">
                        <input type="radio" name="gender" id="dot-2">
                        <input type="radio" name="gender" id="dot-3">
                        <span class="details">Genero</span>
                        <div class="category">
                            <label for="dot-1">
                                <span class="dot one"></span>
                                <span class="gender">Hombre</span>
                            </label>
                            <label for="dot-2">
                                <span class="dot two"></span>
                                <span class="gender">Mujer</span>
                            </label>
                        </div>
                    </div>
                    <div class="input-box">
                        <span class="details">Telefono</span>
                        <input type="text" placeholder="Enter your number" required>
                    </div>
                </div>

                <h1>DATOS DE USUARIO</h1>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nombre de Usuario</span>
                        <input type="text" placeholder="Enter your name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Correo Electronico</span>
                        <input type="text" placeholder="Enter your username" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Correo Electronico</span>
                        <input type="text" placeholder="Enter your username" required>
                    </div>
                </div>

                <div class="button">
                    <input type="submit" value="Register">
                </div>

            </form>
        </div>
        
    </div>
    <div class="card">
        <h2>REGISTRO DE PERSONA</h2>
    </div>

</body>


</html>
<app-footer></app-footer>