<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<app-headers></app-headers>

<body>
    <div class="container">
        <h1>DATOS PERSONALES</h1>
        <div class="content">
            <!-- ngNativeValidate -->
            <form  (ngSubmit)="create()">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nombre</span>
                        <input type="text" placeholder="Ingresa el nombre del producto" [(ngModel)]="producto.prodNombre" name="prodNombre" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Precio</span>
                        <input type="number" placeholder="Ingresa el precio del producto" [(ngModel)]="producto.prodPrecio" name="prodPrecio" required>
                    </div>
                    <div class="input-box">
                        <span class="details">descripcion</span>
                        <textarea  name="notas" rows=3 cols=20 
                        placeholder="Ingresa la descripcion" [(ngModel)]="producto.prodDescripcion" name="prodDescripcion"></textarea>
                    </div>
                    <div class="input-box">
                        <span class="details">Categoria</span>
                       
                        <!-- <li *ngFor="let categoria of categoriasL">{{categoria.CatNombre}}</li> -->


                        <select >
                            <option *ngFor="let categoria of categorias">{{categoria.catNombre}}</option>
                          </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Imagen</span>
                        <input type="file" multiple value="select" #selectFile 
                        (change)="onFileSelected($event)"
                        placeholder="Seleccione la imagen del producto" required>
                    </div>
                </div>
                <div class="button">
                    <button type="submit">Register</button>
                    <!-- <input type="submit" value="Register"> -->
                </div>
            </form>
        </div>

    </div>
    <div class="card">
        <h2>REGISTRO DE PRODUCTO</h2>
    </div>

</body>


</html>
<app-footer></app-footer>